doctype html
html
  head
    title Grub Desi - Indian Food Catering, Authentic North Indian Food
    meta(charset='utf-8')/
    meta(name='viewport', content='width=device-width, initial-scale=1.0')/
    meta(name='description', content='Authentic Indian food to satisfy your taste buds. Freshly made and served hot to entire bay area. Call us for more information +1 408.466.8192')/
    meta(name='HandheldFriendly', content='True')/
    meta(name='MobileOptimized', content='320')/
    meta(name='robots', content='noodp')/
    meta(property='og:locale', content='en_US')/
    meta(property='og:type', content='website')/
    meta(property='og:title', content='Grub Desi - eat like a desi')/
    meta(property='og:description', content='Authentic Indian food to satisfy your taste buds. Freshly made and served hot to entire bay area. Call us for more information +1 408.466.8192')/
    meta(property='og:url', content='http://www.grubdesi.com/')/
    meta(property='og:site_name', content='Grub Desi')/
    meta(property='og:image', content='http://www.grubdesi.com/images/grubdesi-public-logo.png')/
    meta(name='twitter:card', content='summary_large_image')/
    meta(name='twitter:description', content='Authentic Indian food to satisfy your taste buds. Freshly made and served hot to entire bay area. Call us for more information +1 408.466.8192')/
    meta(name='twitter:title', content='Grub Desi - eat like a desi')/
    meta(name='twitter:image', content='http://www.grubdesi.com/images/grubdesi-public-logo.png')/
    link(rel='stylesheet', href='/css/style.min.css')/
    link(rel='stylesheet' href='/css/lib/toaster.min.css')/
    link(rel='stylesheet' href='/css/lib/select.min.css')/
    script(src='/js/lib/pace.min.js')
  block sub-layout
  .footer.col-xs-12.hidden-print
  .social.text-left.col-sm-6
    a.link.facebook(href='http://facebook.com/grubdesi', target='_blank')
      span.fa.fa-facebook-square
    a.link.google-plus(href='https://plus.google.com/grubdesi', target='_blank')
      span.fa.fa-google-plus-square
    a.link.instagram(href='https://instagram.com/grubdesi', target='_blank')
      span.fa.fa-instagram
    a.link.yelp(href='https://www.yelp.com/biz/grub-desi-campbell', target='_blank')
      span.fa.fa-yelp
    a.link.tarobites(href='http://www.tarobites.com/chef/neetu-laddha-grub-desi/', target='_blank')
  .social.text-right.hidden-xs.col-sm-6
    ul
      li.footer-gd Grub Desi
      li.footer-gd
        a(href='#Privacy', atl='Privacy Policy') Privacy
      li.footer-gd
        a(href='#About', atl='About') About
      li.footer-gd
        a(href='#Enquiry', atl='Contact Us') Contact
      li.footer-gd
        a(href='#Sitemap', atl='Sitemap') Sitemap
  script(src='/js/lib/jquery.min.js')
  script(src='/js/lib/bootstrap-bundle.min.js')
  script(src='/js/lib/angular-bundle.min.js')
  script(src='/js/lib/bluebird.min.js')
  script(src='/js/lib/select.min.js')
  script(src='/js/lib/ng-file-upload.min.js')
  script(src='/js/bundle.js')