extends public-layout
block content
    #bg-fade-carousel.carousel.slide.carousel-fade.row(data-interval='1000', data-ride='carousel', style='padding-left:0px !important;padding-right:0px !important')
    .carousel-inner
        .item.active
        .slide1.img-responsive
        .item
        .slide2.img-responsive
        .item
        .slide3.img-responsive
        .item
        .slide4.img-responsive
        .item
        .slide5.img-responsive
        .item
        .slide6.img-responsive
        .item
        .slide7.img-responsive
        .item
        .slide8.img-responsive
    .carousel-overlay.text-center
        h2 Why settle for lousy food when you have Grub Desi
        p.lead Special orders also available upon request.  Check out our menu.
        a.btn.btn-success(href='http://www.tarobites.com/chef/neetu-laddha-grub-desi/', target='_blank') Order Food Online
        a.btn.btn-success(href='#Menu') See Catering Menu
        a.btn.btn-success(href='#Enquiry') Contact Us