extends admin-layout
block content
  #divContent(ng-controller='MenuAdminController')
    #MenuModal.modal.fade(role='dialog', style='display:none;' )
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4#addMenuHeader.modal-title(ng-show='!menu._id') Add a new Menu
            h4#editMenuHeader.modal-title(ng-show='menu._id') Edit Menu
          .modal-body
            label(for='optMenuName') Menu Name
            //- ui-select(ng-model='menu.menuName', theme='bootstrap',  style='width: 100%;', title='Select a Menu...')
            //-   ui-select-match(placeholder='Select a Menu...'){{$item.menuName}}
            //-   ui-select-choices(repeat='mnu in menuMasters | propsFilter: {menuName: $select.search}')
            //-     div(ng-bind-html="(mnu.menuName | highlight: $select.search) ")
            //-     div(ng-bind-html='mnu.menuName + mnu.isTag | highlight: $select.search')
            //-     | {{mnu.menuName}}
            //-     | {{mnu.menuDescription}}
            select.form-control(id='optMenuName' placeholder='Select a menu name...' ng-model='menu.menuName')
              option(ng-repeat='x in menuMasters', value='{{x.menuName}}') {{x.menuName}}
            label(for='optCategoryName') Category Name
            ui-select.form-control(multiple='', tagging='tagTransform', ng-model='menu.category', title='Select a category...')
              ui-select-match(placeholder='Select a category...') {{$item.categoryName}}
              ui-select-choices(repeat='cat in categories | propsFilter: {categoryName: $select.search}')
                div(ng-if='cat.isTag', ng-bind-html="(cat.categoryName | highlight: $select.search) +' (new)'")
                div(ng-if='!cat.isTag', ng-bind-html='cat.categoryName + cat.isTag | highlight: $select.search')
                | {{cat.categoryName}}
                | {{cat.categoryDescription}}
            #newRow.row
              #itemBlock.col-xs-6
                label(for='txtItemName') Item Name:
                input.form-control(id='txtItemName' type='text' placeholder='Enter the item name' ng-model='menu.itemName') 
                label(for='txtItemDescription') Item Description:
                input.form-control(id='txtItemDescription' type='text' placeholder='Describe this item' ng-model='menu.itemDescription') 
              div(style="padding-top:10px")
                button.btn.btn-xs.btn-primary( ngf-select='', ng-model='file', name='file', ngf-pattern="'image/*'", ngf-accept="'image/*'", ngf-max-size='20MB')  Select a food picture
                <br>
                img.img-thumbnail.menuItemUpload-thumbnail( ngf-thumbnail='file')
              #portionsDiv.col-xs-12
                p Portions
                #portionList.col-xs-3(ng-repeat='p in menu.portion track by $index')
                  label(for='txtPortionPrice') {{p.portionName}}
                  input.form-control(id='txtPortionPrice' type='text' placeholder='Price for {{p.portionName}}' ng-model='menu.portion[$index].portionPrice') 
          .modal-footer
            .btn-group.pull-right(ng-show='!menu._id')
              button#addMenuButton.btn.btn-sm.btn-success(ng-click='add(menu,file)' data-dismiss='modal') Add
              button.btn.btn-sm.btn-danger(ng-click="reset()" data-dismiss='modal') Close
            .btn-group.pull-right(ng-show='menu._id')
              button#updateMenuButton.btn.btn-sm.btn-warning(ng-click='update(menu,file)' data-dismiss='modal') Update
              button.btn.btn-sm.btn-danger(ng-click="reset()" data-dismiss='modal') Close
    #confirm-delete.modal.fade(role='dialog', style='display:none;' )
      .modal-dialog
        .modal-content
          .modal-body.txt-warning.text-center
            strong
              | Are you sure you want to delete?
          .modal-footer
            .btn-group
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              button.btn.btn-danger.btn-ok(ng-click='removeAll()', data-dismiss='modal') Delete
    .pull-left.h1.hidden-xs #{title}
    #buttonGroup.btn-group.pull-right(style="padding-bottom:5px;padding-top:25px;")
      button.btn.btn-sm.btn-success(ng-click='deselect()' data-toggle='modal' data-target='#MenuModal')  Add new
      button.btn.btn-sm.btn-danger(data-href='Remove-All' data-toggle='modal', data-target='#confirm-delete')  Remove all
    #rightMenuBar.col-md-12
      #menuItems.col-sm-6(ng-repeat="menu in selectedMenus()" )
        #thumbnail.pull-left.col-xs-12
          img.img-responsive.img-thumbnail.menuItem-thumbnail(src='/images/menuitems/{{menu.imageFilename || menuDefaultImage}}' alt='{{menu.itemName}}') 
        #menuHighlights.col-xs-12
          #itemName.pull-left
            .h3.list-group-item-heading {{menu.itemName}} 
          #menuName.pull-right
            .label.label-primary {{menu.menuName}}
        #portions.col-xs-12
          span(ng-repeat="p in menu.portion | filter: greaterThan('portionPrice',0)")  
            .label.label-primary {{p.portionName}} ${{p.portionPrice}}
        #menuData.col-xs-12
          .h6.list-group-item-text {{menu.itemDescription || 'No description available'}}   
        #menuButtons.col-xs-12.btn-group(style="margin-top:10px")
          button.btn.btn-xs.btn-warning(ng-click='edit(menu)' data-toggle='modal' data-target='#MenuModal') Edit
          button.btn.btn-xs.btn-danger(ng-click='remove(menu)') Remove
        #hr.col-xs-12
          hr
    
      //- #menuItems.col-xs-12.well.well-sm(ng-repeat='menu in menus')
      //-   #thumbnail.pull-left.hidden-xs
      //-     img.img-responsive.img-thumbnail.menuItem-thumbnail(src='/images/menuitems/{{menu.imageFilename || menuDefaultImage}}' alt='{{menu.itemName}}')
      //-   #menuData.pull-left.col-xs-10
      //-     .h3.list-group-item-heading {{menu.itemName}} 
      //-     .h5.list-group-item-text {{menu.itemDescription}} 
      //-     .h4.list-group-item-text {{menu.menuName}} 
      //-     .h6 {{menu.category.length}} categories
      //-   #portionsData
      //-     h4 Available Portions
      //-     h4(ng-repeat="p in menu.portion | filter: greaterThan('portionPrice',0)") {{p.portionName}} ${{p.portionPrice}}

          
    .container.container-table.well(ng-hide='menus.length>0') 
      .row.vertical-center-row
        .text-center.h1 Oops, nothing cooking yet!