extends admin-layout
block content
  #divContent(ng-controller='MenuMasterAdminController')
    #menuMasterModal.modal.fade(role='dialog', style='display:none;' )
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4#addMenuMasterHeader.modal-title(ng-show='!menuMaster._id') Add a new Menu
            h4#editMenuMasterHeader.modal-title(ng-show='menuMaster._id') Edit Menu
          .modal-body
            label(for='txtMenuMasterName') Menu Name
            input.form-control(id='txtMenuMasterName' type='text' placeholder='Enter the MenuMaster name' ng-model='menuMaster.menuName') 
            label(for='txtMenuMasterDescription') Menu Desctiption
            input.form-control(id='txtMenuMasterName' type='text' placeholder='Enter the MenuMaster description' ng-model='menuMaster.menuDescription') 
          .modal-footer
            .btn-group.pull-right(ng-show='!menuMaster._id')
              button#addMenuMasterButton.btn.btn-sm.btn-success(ng-click='add(menuMaster)' data-dismiss='modal') Add
              button.btn.btn-sm.btn-danger(ng-click="reset()" data-dismiss='modal') Close
            .btn-group.pull-right(ng-show='menuMaster._id')
              button#updateMenuMasterButton.btn.btn-sm.btn-warning(ng-click='update(menuMaster)' data-dismiss='modal') Update
              button.btn.btn-sm.btn-danger(ng-click="reset()" data-dismiss='modal') Close
    
    .pull-left.h1.hidden-xs #{title}
    #buttonGroup.btn-group.pull-right(style="padding-bottom:5px;padding-top:25px;")
      button.btn.btn-sm.btn-success(ng-click='deselect()' data-toggle='modal' data-target='#menuMasterModal')  Add new
      button.btn.btn-sm.btn-danger(ng-click='removeAll()')  Remove all
   
    #menuMasterItems.col-xs-12.well.well-sm(ng-repeat='menuMaster in menuMasters')
      #menuMasterData.pull-left.col-xs-10
        .h3.list-group-item-heading {{menuMaster.menuName}} 
        .h5.list-group-item-text {{menuMaster.menuDescription}} 
      #menuMasterButtons.pull-right.btn-group
        button.btn.btn-xs.btn-warning(ng-click='edit(menuMaster)' data-toggle='modal' data-target='#menuMasterModal') Edit
        button.btn.btn-xs.btn-danger(ng-click='remove(menuMaster)') Remove
    .container.container-table.well(ng-hide='menuMasters.length>0') 
      .row.vertical-center-row
        .text-center.h1 Oops, no menu master data found!