extends admin-layout
block content
  h2.page-header.text-capitalize.hidden-print Satisfy Your Taste Buds
  h1.page-header.text-capitalize.visible-print-block Grub Desi - Menu Printout
  .row.visible-print-block
    .col-lg-6.col-sm-12.col-md-6.col-xs-12
      h3 Please feel free to contact us for any catering needs
      address
        div Phone: (408)-466-8192 , (669)-237-0002
        div Email: enquiry@grub.desi
  div(ng-controller='MenuAdminController')
    #mainFrame.col-md-12
      #leftBar.col-md-3
        //- //- Left Menu Bar Content Start Here
        //- .panel-group
        //-   .panel.panel-default
        //-     .panel-heading
        //-       h4.panel-title
        //-         a.accordion-toggle(data-toggle="collapse"  href="#collapse1") Select Menu Type
        //-     #collapse1.panel-collapse.collapse.in
        //-       .panel-body
        //-         .checkbox
        //-           label
        //-             input(type='checkbox', value='selectAll' checked='') 
        //-             | Select All
        //-           hr(style="padding:0px;margin-bottom:3px")
        //-         .checkbox(ng-repeat="menu in menuMasters | unique: 'menuName'")
        //-           label
        //-             input(type='checkbox', value='{{menu.menuName}}' checked='') 
        //-             {{menu.menuName}}
        //-   .panel.panel-default
        //-     .panel-heading
        //-       h4.panel-title
        //-         a.accordion-toggle(data-toggle="collapse"  href="#collapse2") Select Category
        //-     #collapse2.panel-collapse.collapse.in
        //-       .panel-body 
        //-         .checkbox(ng-repeat="category in categories | unique: 'categoryName'")
        //-           label
        //-             input(type='checkbox', value='{{category.categoryName}}' checked='') 
        //-             {{category.categoryName}}
        //-   .panel.panel-default
        //-     .panel-heading
        //-       h4.panel-title
        //-         a.accordion-toggle(data-toggle="collapse"  href="#collapse3") Select Portion
        //-     #collapse3.panel-collapse.collapse.in
        //-       .panel-body 
        //-         .checkbox(ng-repeat="portion in portions | unique: 'portionName'")
        //-           label
        //-             input(type='checkbox', value='{{portion.portionName}}' checked='')
        //-             {{portion.portionName}}
        //- //- Left Menu Bar Content End Here
      #rightContent.col-md-12
        #itemDisplay(ng-repeat="menu in selectedMenus()" style="padding:2px;margin:0px;")
          #splitDisplay.col-md-6.col-xs-12(style="padding:10px")
            #itemImage.col-xs-6
              //- Image Thumbnail Start Here
              img.img-responsive(src='/images/menuitems/{{menu.imageFilename || menuDefaultImage}}' alt='{{menu.itemName}}') 
              //- Image Thumbnail End Here
            #itemDetails.col-xs-6
              #itemName.col-md-12
                //- Item Name Start Here
                .h3.list-group-item-heading {{menu.itemName}} 
                //- Item Name End Here
              #menuNameAndPrice.col-md-12
                //- Item Price Start Here
                .label.label-warning {{menu.menuName}}
                span(ng-repeat="p in menu.portion | filter: greaterThan('portionPrice',0)")  
                  .label.label-default.portionPrice(data-hover='{{p.portionName}} ') ${{p.portionPrice}}
                //- Item Price End Here
              //- #itemReviews.col-md-6
              //-   //- Item Reviews Start Here
              //-   {{menu.itemDescription}}
              //-   //- Item Reviews End Here