extends admin-layout
block content
  #divContent(ng-controller='PortionAdminController')
    #PortionModal.modal.fade(role='dialog', style='display:none;' )
      .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4#addPortionHeader.modal-title(ng-show='!portion._id') Add a new Portion
            h4#editPortionHeader.modal-title(ng-show='portion._id') Edit Portion
          .modal-body
            label(for='txtPortionName') Portion Name
            input.form-control(id='txtPortionName' type='text' placeholder='Enter the Portion name' ng-model='portion.portionName') 
            label(for='txtPortionDescription') Portion Desctiption
            input.form-control(id='txtPortionName' type='text' placeholder='Enter the Portion description' ng-model='portion.portionDescription') 
          .modal-footer
            .btn-group.pull-right(ng-show='!portion._id')
              button#addPortionButton.btn.btn-sm.btn-success(ng-click='add(portion)' data-dismiss='modal') Add
              button.btn.btn-sm.btn-danger(ng-click="reset()" data-dismiss='modal') Close
            .btn-group.pull-right(ng-show='portion._id')
              button#updatePortionButton.btn.btn-sm.btn-warning(ng-click='update(portion)' data-dismiss='modal') Update
              button.btn.btn-sm.btn-danger(ng-click="reset()" data-dismiss='modal') Close
    
    .pull-left.h1.hidden-xs #{title}
    #buttonGroup.btn-group.pull-right(style="padding-bottom:5px;padding-top:25px;")
      button.btn.btn-sm.btn-success(ng-click='deselect()' data-toggle='modal' data-target='#PortionModal')  Add new
      button.btn.btn-sm.btn-danger(ng-click='removeAll()')  Remove all
   
    #portionItems.col-xs-12.well.well-sm(ng-repeat='portion in portions')
      #portionData.pull-left.col-xs-10
        .h3.list-group-item-heading {{portion.portionName}} 
        .h5.list-group-item-text {{portion.portionDescription}} 
      #portionButtons.pull-right.btn-group
        button.btn.btn-xs.btn-warning(ng-click='edit(portion)' data-toggle='modal' data-target='#PortionModal') Edit
        button.btn.btn-xs.btn-danger(ng-click='remove(portion)') Remove
    .container.container-table.well(ng-hide='portions.length>0') 
      .row.vertical-center-row
        .text-center.h1 Oops, no portions found!